nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 15px;
  display: inline;
  font-family: "Fira Sans", sans-serif;
  font-size: 17px; }
  nav a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 14px; }
    nav a:hover {
      background-color: #111; }

.SM {
  height: 25px; }
  .SM:hover {
    background-color: #333; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin-top: 45px; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

.content {
  max-width: 1000px;
  margin: auto; }

.section {
  background-color: gray;
  padding: 20px;
  margin: 25px;
  border-radius: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 800px;
  height: 20%; }
  .section h1 {
    color: blue; }
  .section .sectImage {
    max-width: 100%;
    max-height: 250px;
    margin-left: auto; }
  .section p {
    min-width: 300px;
    margin: 30px; }

.banner {
  background-image: url(../images/tarkov_banner.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  max-width: 1000px;
  display: flex; }
  .banner .bannerText {
    text-align: center;
    color: white;
    margin-bottom: 200px; }

.content {
  max-width: 1000px;
  margin: auto; }

.section {
  background-color: gray;
  padding: 20px;
  margin: 25px;
  border-radius: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 800px;
  height: 20%; }
  .section h1 {
    color: blue; }
  .section .sectImage {
    max-width: 100%;
    max-height: 250px;
    margin-left: auto; }
  .section p {
    min-width: 300px;
    margin: 30px; }

.mapBanner {
  background-image: url(../images/tarkov_banner_map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  max-width: 1000px;
  display: flex; }
  .mapBanner .mapBannerText {
    text-align: center;
    color: black;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
    margin-bottom: 200px;
    font-size: 500%;
    font-family: "Arial Black", Gadget, sans-serif; }

.content {
  max-width: 1000px;
  margin: auto; }

.section {
  background-color: gray;
  padding: 20px;
  margin: 25px;
  border-radius: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 800px;
  height: 20%; }
  .section h1 {
    color: blue; }
  .section .sectImage {
    max-width: 100%;
    max-height: 250px;
    margin-left: auto; }
  .section p {
    min-width: 300px;
    margin: 30px; }

.gunBanner {
  background-image: url(../images/gun_banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  max-width: 1000px;
  display: flex; }
  .gunBanner .gunBannerText {
    text-align: center;
    color: white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    margin-bottom: 200px;
    font-size: 500%;
    font-family: "Arial Black", Gadget, sans-serif; }
