.content {
    max-width: 1000px;
    margin: auto;
}
.section {
    background-color: rgb(128, 128, 128);
    padding: 20px;
    margin: 25px;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    height: 20%;

     h1 {
        color: blue;
    }
    .sectImage {
        max-width: 100%;
        max-height: 250px;
        margin-left: auto;
    }

    p {
        min-width: 300px;
        margin: 30px;
       
    } 
}

.banner {
    background-image: url(../images/tarkov_banner.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    max-width: 1000px;
    display: flex;


    .bannerText {
        text-align: center;
        color: white;
        margin-bottom: 200px;

    }

}